@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --main-color: #f15a24;
  --bg-light: #f2f2f2;
  --bg-dark: #151415;
  --bg-grey: #2b292b;
  --watermark-dark: #302f30;
  --watermark-lihgt: #cccccc;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
  .quote {
    position: absolute;
    bottom: 80px;
    right: 4vw;
    pointer-events: all;
    transition: opacity 0.5s;
    @media screen and (max-width: 1440px) {
      img {
        width: 30px;
      }
    }
    @media screen and (max-width: 700px) {
      bottom: 50px;
      img {
        width: 20px;
      }
    }
  }
  &.disabled .buttons span,
  &.disabled .quote {
    pointer-events: none;
    opacity: 0.05;
    transition: opacity 0;
  }
}

.navigation > .buttons {
  position: absolute;
  left: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  span {
    display: block;
    pointer-events: all;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    border: 2px solid black;
    background: var(--bg-light);
    transition: opacity 0.5s;
    &.active {
      border-color: var(--main-color);
    }
  }
  @media screen and (max-width: 700px) {
    span {
      width: 12px;
      height: 12px;
    }
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  display: grid;
  grid-template-rows: 200px 1fr 150px;
  padding: 0 8vw;
  background: #f2f2f2;

  @media screen and (max-width: 1700px) {
    grid-template-rows: 140px 1fr 100px;
  }
  @media screen and (max-width: 1400px) {
    grid-template-rows: 100px 1fr 80px;
  }

  > div.header {
    transition: 1s;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    span {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1700px) {
    grid-template-rows: 140px 1fr 100px;
  }
  @media screen and (max-width: 1400px) {
    grid-template-rows: 100px 1fr 80px;
  }

  .watermark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
    left: 8vw;
    user-select: none;
    h1 {
      font-size: 18.5vw;
      line-height: 0.9;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: -0.7vw;
      color: #cccccc;
      opacity: 0.5;
    }
    @media screen and (max-width: 1650px) {
      h1 {
        line-height: 1;
      }
    }
    @media screen and (max-width: 850px) {
      top: 50%;
      h1 {
        line-height: 1.2;
      }
    }
  }

  .banner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    h1 {
      color: white;
      font-size: 6vw;
      font-weight: 900;
      letter-spacing: -0.1vw;
      line-height: 1;
      text-transform: uppercase;
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      margin-top: 20px;
      button {
        all: unset;
        padding: 5px;
        background: rgba(241, 90, 36, 0.5);
        color: var(--bg-light);
        font-size: 1.8vw;
        cursor: pointer;
        :hover {
          color: var(--main-color);
        }
        &.transparent {
          background: transparent;
          a {
            color: inherit;
          }
        }
      }
    }
  }

  // ---------------- Header begin ------------//
  .header {
    user-select: none;
    padding-bottom: 50px;
    opacity: 0;
    .header__container {
      padding: 38px 109px 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    transition: 0;
    a {
      text-decoration: none;
    }
    .logo {
      cursor: pointer;
      img {
        height: 45.55px;
      }
    }
    .menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .item {
        display: flex;
        align-items: center;
        gap: 7px;
        cursor: pointer;

        .menuLogo img {
          height: 16px;
        }
        .menuName {
          transition: 0;
          white-space: nowrap;
          transition-delay: 0;
          color: black;

          font-size: 18px;
          font-weight: bold;
          a {
            color: black;
          }
        }
      }
    }
    .contact {
      display: flex;
      gap: 7px;
      align-items: center;
      .link img {
        height: 18px;
        cursor: pointer;
        :hover {
          filter: brightness(1.2);
        }
      }
    }

    @media screen and (max-width: 1650px) {
      padding-bottom: 25px;
      .container {
        padding: 53px 80px 28px;
        .logo img {
          height: 30px;
        }
        .menu {
          gap: 30px;
          .menuName {
            font-size: 17px;
          }
        }
      }
    }
    @media screen and (max-width: 1450px) {
      padding-bottom: 25px;
      .container {
        padding: 53px 80px 28px;
        .logo img {
          height: 28px;
        }
        .menu {
          gap: 30px;
          .menuName {
            font-size: 14px;
          }
        }
        .link img {
          height: 15px;
        }
      }
    }
    @media screen and (max-width: 1350px) {
      padding-bottom: 20px;
      .container {
        padding: 45px 60px 25px;
        .logo img {
          height: 30px;
        }
        .menu {
          gap: 30px;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      padding-bottom: 20px;
      .container {
        padding: 38px 50px 18px;
        .logo img {
          height: 30px;
        }
        .menu {
          gap: 30px;
          .menuName {
            font-size: 13px;
          }
        }
      }
    }
    @media screen and (max-width: 930px) {
      padding-bottom: 20px;
      .container {
        padding: 38px 50px 18px;
        .logo img {
          height: 30px;
        }
        .menu {
          gap: 30px;
          .item {
            position: relative;
            padding: 15px 0;
            :hover .menuName {
              display: block;
              opacity: 1;
              top: 45px;
            }
          }
          .menuName {
            display: none;
            opacity: 0;
            position: absolute;
            font-size: 15px;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 15px;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
          }
        }
      }
    }

    @media screen and (max-width: 650px) {
      padding-bottom: 10px;
      .container {
        padding: 18px 20px 8px;
        .logo img {
          height: 20px;
        }
        .menu {
          .menuLogo img {
            height: 13px;
          }
        }
        .link img {
          height: 13px;
        }
      }
    }
    @media screen and (max-width: 500px) {
      padding-bottom: 10px;
      .container {
        padding: 18px 20px 8px;
        .menu {
          .item {
            display: none;
            &.humburgerMenu {
              display: block;
            }
          }
        }
        .link img {
          height: 13px;
        }
      }
    }
    // ------------------about begin------------------ //
    .about {
      border-radius: 80px 80px 0 0;
      width: 100%;
      position: absolute;
      z-index: 15;
      background: linear-gradient(
        to bottom,
        rgba(43, 41, 43, 0.9) 30%,
        rgba(43, 41, 43, 0.7) 70%,
        rgba(21, 20, 21, 1)
      );
      transition: height 0.1s;
      height: 0;
      overflow: hidden;
      display: grid;
      place-items: center;
      .about_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1100px;
        color: #fff;
        gap: 40px;
        h1 {
          font-size: 50px;
          font-weight: 800;
          text-transform: uppercase;
        }
        p {
          font-size: 24px;
          font-weight: 400;
        }
        button {
          all: unset;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 1500px) {
        .container {
          gap: 30px;
          h1 {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
          }
          p {
            font-size: 19px;
            font-weight: 400;
          }
          button {
            all: unset;
            cursor: pointer;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        .container {
          gap: 20px;
          h1 {
            font-size: 30px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          p {
            font-size: 15px;
            font-weight: 400;
          }
          button {
            all: unset;
            margin-top: 20px;
            cursor: pointer;
            img {
              height: 30px;
            }
          }
        }
      }
      &.active {
        transition: height 0.5s;
        height: calc(100vh - 80px);
      }
    }
    // ------------------about end------------------ //
    //------------------- menu begin -------------------//
    .drop_menu {
      background-color: red;
      a {
        all: unset;
        :hover {
          color: var(--main-color);
        }
      }

      border-radius: 80px 80px 0 0;
      width: 100%;
      position: absolute;
      z-index: 15;
      background: linear-gradient(
        to bottom,
        rgba(43, 41, 43, 0.9) 30%,
        rgba(43, 41, 43, 0.7) 70%,
        rgba(21, 20, 21, 1)
      );
      height: 0;
      transition: 0.1s;
      overflow: hidden;
      display: grid;
      place-items: center;
      .menu_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1100px;
        width: 100%;
        color: #fff;
        gap: 45px;
        font-size: 22px;
        button {
          all: unset;
          cursor: pointer;
        }

        .menus {
          margin-top: 60px;
          margin-bottom: 150px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          .menu1 {
            flex: 1;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 12px;
            .menu_item {
              cursor: pointer;
              white-space: nowrap;
              :hover {
                color: var(--main-color);
              }
            }
          }
          .flex {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 7px;
            font-size: 20px;
            span {
              cursor: auto;
            }
            a {
              all: unset;
              cursor: pointer;
              &.email {
                margin-top: -5px;
                color: var(--main-color);
              }
            }
          }
          .contact {
            flex: 1;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
          }
        }
      }

      @media screen and (max-width: 1500px) {
        .menu_container {
          font-size: 20px;
          .menus {
            margin-top: 40px;
            margin-bottom: 90px;
            .menu1 {
              gap: 10px;
            }
            .flex {
              gap: 5px;
              font-size: 18px;
            }
          }
        }
      }

      @media screen and (max-width: 1000px) {
        .menu_container {
          font-size: 18px;
          .menus {
            margin-top: 20px;
            margin-bottom: 40px;
            .menu1 {
              gap: 7px;
            }
            .flex {
              gap: 5px;
              font-size: 15px;
            }
          }
        }
      }
      @media screen and (max-width: 700px) {
        .menu_container {
          font-size: 15px;
          img {
            height: 25px;
          }
          .menus {
            margin-top: 15px;
            margin-bottom: 35px;
            .menu1 {
              gap: 5px;
            }
            .flex {
              gap: 2px;
              font-size: 13px;
            }
          }
        }
      }
      @media screen and (max-width: 500px) {
        .menu_container {
          font-size: 13px;
          img {
            height: 20px;
          }
          .menus {
            margin-top: 10px;
            margin-bottom: 30px;
            .menu1 {
              gap: 5px;
            }
            .flex {
              gap: 2px;
              font-size: 11px;
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        .menu_container {
          font-size: 12px;
          img {
            height: 20px;
          }
          .menus {
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
            justify-content: space-between;
            row-gap: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            .menu1 {
              gap: 5px;
            }
            .flex {
              gap: 2px;
              font-size: 10px;
            }
          }
        }
      }
      &.active {
        transition: height 0.5s;
        height: calc(100vh - 80px);
      }
    }
    //------------------- menu end -------------------//
  }

  // ---------------- Header end ------------//
  &.dark,
  &.darker {
    background: #151415;

    .watermark h1 {
      color: #302f30;
      opacity: 1;
      text-align: center;
    }

    .header .header__container .menu .item .menuName {
      color: white;
      a {
        color: white;
      }
    }
  }

  &.active {
    .header,
    .footer {
      opacity: 1;
      transition: 0.5s;
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    &.disabled {
      opacity: 0;
      display: none;
      transition: opacity 0.3s;
    }
    .footerContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 100%;
      padding: 0 2%;
      gap: 5%;
      .firsticon {
        padding-top: 15px;
      }

      @media screen and (max-width: 1440px) {
        animation: marquee 10s linear infinite;
        img {
          height: 30px;
        }
      }

      @media screen and (max-width: 990px) {
        img {
          height: 25px;
        }
      }
      @media screen and (max-width: 810px) {
        min-width: 810px;
        img {
          height: 20px;
        }
      }
    }

    @media screen and (max-width: 425px) {
      bottom: 65px;
    }

    @keyframes marquee {
      to {
        transform: translate(-100%, 0);
      }
    }
    @media screen and (max-width: 1440px) {
      bottom: 10px;
    }
  }
  .section_body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transition-delay: dispalay 0.5s;
    &.disabled {
      opacity: 0;
      display: none;
    }
    .banner {
      position: relative;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
}

#home {
  .section_body {
    .banner {
      a {
        all: unset;
      }
      h1 {
        color: white;
        font-size: 6vw;
        font-weight: 900;
        letter-spacing: -0.1vw;
        line-height: 1;
        text-transform: uppercase;
      }
      .btns {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 20px;
        button {
          all: unset;
          padding: 5px;
          background: rgba(241, 90, 36, 0.5);
          color: var(--bg-light);
          font-size: 1.8vw;
          cursor: pointer;
          :hover {
            color: var(--main-color);
          }
          &.transparent {
            background: transparent;
          }
        }
      }
    }
  }
}

#offer {
  .section_body {
    .banner {
      h2 {
        font-size: 2vw;
        text-transform: uppercase;
        margin-bottom: 45px;
        color: #333333;
        white-space: nowrap;
      }

      @media screen and (max-width: 1500px) {
        h2 {
          margin-bottom: 30px;
        }
      }
      @media screen and (max-width: 1400px) {
        h2 {
          margin-bottom: 20px;
        }
      }
      @media screen and (max-width: 900px) {
        h2 {
          font-size: 2.5vw;
        }
      }
      @media screen and (max-width: 600px) {
        h2 {
          font-size: 15px;
        }
      }

      .content {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 5vw;

        .collapse {
          width: 50%;
          flex-shrink: 1;
          border-top: 1px solid #58595b;
          .collap {
            width: 100%;
            padding: 32px 0;
            border-bottom: 1px solid #58595b;
            cursor: pointer;
            &.active {
              .body {
                height: 50px;
              }
            }
            .collap_header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .title {
                /* white-space: nowrap; */
                .arrow img {
                  transform: rotate(0deg);
                  transition: 0.5s;
                }
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                color: var(--bg-dark);
                font-size: 24px;
                color: #4d4d4d;
                text-transform: uppercase;
                font-weight: normal;
              }

              .btn {
                cursor: pointer;
                transition: 0.5s;
                color: var(--main-color);
                font-size: 2vw;
                font-weight: 300;
                padding: 0 10px;
                display: flex;
                user-select: none;
              }
            }
            .body {
              overflow: hidden;
              font-size: 16px;
              color: #4d4d4d;
              font-weight: 300;
              transition: 0.5s;
              height: 0;
              padding: 0;
              cursor: text;
              overflow-y: scroll;
            }

            @media screen and (max-width: 2000px) {
              padding: 22px 0;
            }
            @media screen and (max-width: 1700px) {
              padding: 15px 0;
              .header {
                .title {
                  .arrow img {
                    height: 15px;
                  }
                  gap: 20px;
                  font-size: 20px;
                }
              }
              .body {
                font-size: 16px;
                font-weight: 300;
              }
            }
            @media screen and (max-width: 1500px) {
              padding: 10px 0;
              .header {
                .title {
                  .arrow img {
                    height: 15px;
                  }
                  gap: 15px;
                  font-size: 15px;
                }
              }
              .body {
                font-size: 12px;
                font-weight: 300;
              }
            }
            @media screen and (max-width: 1024px) {
              padding: 8px 0;
              .header {
                .title {
                  .arrow img {
                    height: 12px;
                  }
                  gap: 15px;
                  font-size: 14px;
                }
              }
              .body {
                font-size: 11px;
                font-weight: 300;
              }
            }
            @media screen and (max-width: 900px) {
              padding: 8px 0;
              .header {
                .title {
                  .arrow img {
                    height: 11px;
                  }
                  gap: 15px;
                  font-size: 13px;
                }
              }
              .body {
                font-size: 10px;
                font-weight: 300;
              }
            }
          }
        }
        .lists {
          width: 50%;
          white-space: nowrap;
          h2 {
            position: relative;
            font-size: 24px;
            font-weight: 700;
            color: #4d4d4d;
            margin-bottom: 12px;
            span {
              position: absolute;
              left: -30px;
              width: 35px;
              height: 35px;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
            }
          }
          .ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 7px;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 18px;
            color: #58595b;
            .li {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 24px;
              &::before {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: radial-gradient(#26191c 3.5px, #d1d0d0 4.5px);
              }
            }
          }
          .btn .outline {
            all: unset;
            width: 60%;
            border: 3px solid #f15a24;
            text-align: center;
            padding: 10px;
            font-size: 24px;
            font-weight: 700;
            color: #f15a24;
            border-radius: 5px;
            cursor: pointer;
            :hover {
              background: #f15a24;
              color: #d1d0d0;
              font-weight: 500;
            }
          }
        }

        @media screen and (max-width: 2000px) {
          .lists {
            width: 50%;
            h2 {
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 10px;
              span {
                left: -30px;
                width: 35px;
                height: 35px;
              }
            }
            .ul {
              gap: 5px;
              margin-bottom: 15px;
              font-weight: 500;
              font-size: 17px;
              .li {
                gap: 15px;
                &::before {
                  width: 26px;
                  height: 26px;
                }
              }
            }

            .btn .outline {
              width: 60%;
              border: 3px solid #f15a24;
              padding: 8px;
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
        @media screen and (max-width: 1700px) {
          .lists {
            width: 50%;
            h2 {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 10px;
              span {
                left: -30px;
                width: 35px;
                height: 35px;
              }
            }
            .ul {
              gap: 3px;
              margin-bottom: 10px;
              font-weight: 500;
              font-size: 15px;
              .li {
                gap: 13px;
                &::before {
                  width: 22px;
                  height: 22px;
                  background: radial-gradient(#26191c 2.5px, #d1d0d0 3.5px);
                }
              }
            }

            .btn .outline {
              width: 60%;
              border: 3px solid #f15a24;
              padding: 6px;
              font-size: 15px;
              font-weight: 700;
            }
          }
        }
        @media screen and (max-width: 1500px) {
          .lists {
            width: 50%;
            h2 {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 8px;
              span {
                left: -20px;
                width: 35px;
                height: 35px;
              }
            }
            .ul {
              gap: 2px;
              margin-bottom: 8px;
              font-weight: 500;
              font-size: 13px;
              .li {
                gap: 10px;
                &::before {
                  width: 18px;
                  height: 18px;
                  background: radial-gradient(#26191c 2.5px, #d1d0d0 3.5px);
                }
              }
            }

            .btn .outline {
              width: 60%;
              border: 3px solid #f15a24;
              padding: 6px;
              font-size: 13px;
              font-weight: 700;
            }
          }
        }
        @media screen and (max-width: 1024px) {
          .lists {
            width: 50%;
            flex-shrink: 1;
            h2 {
              font-size: 15px;
              font-weight: 700;
              margin-bottom: 5px;
              span {
                left: -15px;
                width: 35px;
                height: 35px;
                img {
                  height: 10px;
                }
              }
            }
            .ul {
              gap: 2px;
              margin-bottom: 5px;
              font-weight: 500;
              font-size: 11px;
              .li {
                gap: 10px;
                &::before {
                  width: 13px;
                  height: 13px;
                  background: radial-gradient(#26191c 1.5px, #d1d0d0 2.5px);
                }
              }
            }

            .btn .outline {
              width: 50%;
              border: 2px solid #f15a24;
              padding: 5px;
              font-size: 13px;
              font-weight: 700;
            }
          }
        }
        @media screen and (max-width: 600px) {
          flex-wrap: wrap;
          justify-content: flex-start;
          .collapse,
          .lists {
            width: 100%;
          }
        }
      }
    }
  }
}

// truck section

#truck {
  .section_body {
    .banner {
      top: 55%;
      h1 {
        font-size: 3vw;
        text-transform: uppercase;
        color: #58595b;
        text-align: center;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .slider_truck {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 80%;
          @media screen and (min-width: 1902px) {
            height: 600px;
          }

          @media screen and (max-width: 1902px) {
            height: 500px;
          }
          @media screen and (max-width: 900px) {
            width: 100%;
          }
          @media screen and (max-width: 650px) {
            justify-content: space-between;
          }
          .btn {
            width: 100px;
            height: 100px;
            display: grid;
            place-items: center;
            cursor: pointer;
            z-index: 1;
            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
            @media screen and (max-width: 1902px) {
              width: 80px;
              height: 80px;
            }

            @media screen and (max-width: 720px) {
              width: 50px;
              height: 50px;
            }
          }
          .prev_truck {
            width: 10%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            img {
              user-select: none;
              width: 80%;
              max-width: 26px;
            }
            .params1 {
              width: fit-content;
              color: #58595b;
              font-size: 24px;
              font-weight: 400;
              position: absolute;
              top: 15%;
              left: -65px;
              div {
                text-align: right;
                white-space: nowrap;
                margin-bottom: 7px;
              }

              @media screen and (max-width: 950px) {
                top: 70%;
                left: 0%;
                transform: translateY(-50%);

                div {
                  text-align: left;
                }
              }

              @media screen and (max-width: 1440px) {
                font-size: 20px;
              }
              @media screen and (max-width: 1000px) {
                font-size: 17px;
              }
              @media screen and (max-width: 850px) {
                font-size: 15px;
              }
              @media screen and (max-width: 650px) {
                font-size: 10px;
              }
            }
          }
          .slide {
            width: 60%;
            height: 100%;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
              width: 100%;
            }
            @media screen and (max-width: 650px) {
              flex: 1;
              position: absolute;
              bottom: 20%;
              left: 50%;
              width: 100%;
              transform: translateX(-50%);
            }
          }
          .next_truck {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
              user-select: none;
              width: 80%;
              max-width: 26px;
            }
            .params2 {
              position: absolute;
              top: 53%;
              transform: translateY(-50%);
              left: 50px;
              width: fit-content;
              color: #58595b;
              font-size: 24px;
              font-weight: 400;
              z-index: 0;
              div {
                margin-bottom: 7px;
                text-align: right;
                white-space: nowrap;
              }

              @media screen and (max-width: 950px) {
                left: unset;
                right: 0%;
                top: 70%;
              }

              @media screen and (max-width: 1440px) {
                font-size: 20px;
              }
              @media screen and (max-width: 1000px) {
                font-size: 17px;
              }
              @media screen and (max-width: 850px) {
                font-size: 15px;
              }
              @media screen and (max-width: 650px) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#ontime {
  padding-right: 0;
  grid-template-rows: unset;
  .header{
    z-index: 15;
    position: absolute;

    .menuName:not(.firstmenu){
      @media screen and (min-width: 1000px) {
        a{
          color: white!important;
        }
      }
    }
  }
  .section_body {
    .banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      position: relative;
      @media screen and (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
      }
      .left {
        width: 43%;
        .content {
          width: 70%;
          h1 {
            color: #58595b;
            font-size: 42px;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 16px;
          }
          p {
            color: #58595b;
            font-size: 21px;
            margin-bottom: 16px;
          }
        }
        @media screen and (max-width: 1700px) {
          .content {
            h1 {
              font-size: 35px;
            }
            p {
              font-size: 18px;
            }
          }
        }
        @media screen and (max-width: 1440px) {
          .content {
            h1 {
              font-size: 30px;
            }
            p {
              font-size: 15px;
            }
          }
        }
        @media screen and (max-width: 1000px) {
          width: 100%;
          margin-top: 120px;
          .content {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 0 50px;
            h1 {
              text-align: center;
              font-size: 30px;
            }
            p {
              font-size: 15px;
            }
          }
        }
        @media screen and (max-width: 700px) {
          margin-top: 80px;
          .content {
            h1 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
          }
        }
        @media screen and (max-width: 400px) {
          margin-top: 80px;
          .content {
            h1 {
              font-size: 18px;
            }
            p {
              font-size: 11px;
            }
          }
        }
      }
      .right {
        height: 100%;
        background: #151415;
        width: 57%;
        border-radius: 100px 0 0 100px;
        padding: 150px 100px 150px 140px;
        color: #e6e6e6;

        .contents {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px 130px;

          .content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 21px;
            gap: 18px;
            .text {
              margin-top: 45px;
            }
            .number {
              font-size: 75px;
              -webkit-text-stroke: 1px var(--main-color);
              color: transparent;
              font-weight: 900;
              font-style: italic;
            }
          }
        }
        @media screen and (max-width: 1900px) {
          width: 58%;
          padding: 130px 90px 130px 120px;

          .contents {
            grid-gap: 15px 120px;

            .content {
              font-size: 20px;
              gap: 17px;
              .text {
                margin-top: 43px;
              }
              .number {
                font-size: 73px;
              }
            }
          }
        }
        @media screen and (max-width: 1800px) {
          width: 59%;
          padding: 130px 80px 130px 100px;

          .contents {
            grid-gap: 13px 110px;
          }
        }
        @media screen and (max-width: 1700px) {
          width: 65%;
          border-radius: 100px 0 0 100px;
          padding: 110px 70px 110px 90px;

          .contents {
            grid-gap: 10px 90px;

            .content {
              font-size: 18px;
              gap: 17px;
              .text {
                margin-top: 40px;
              }
              .number {
                font-size: 68px;
              }
            }
          }
        }
        @media screen and (max-width: 1440px) {
          width: 65%;
          border-radius: 80px 0 0 80px;
          padding: 80px 60px 90px 80px;

          .contents {
            grid-gap: 9px 70px;

            .content {
              font-size: 16px;
              gap: 15px;
              .text {
                margin-top: 30px;
              }
              .number {
                font-size: 65px;
              }
            }
          }
        }
        @media screen and (max-width: 1200px) {
          width: 65%;
          border-radius: 50px 0 0 50px;
          padding: 80px 60px 90px 80px;

          .contents {
            grid-gap: 9px 70px;

            .content {
              font-size: 16px;
              gap: 15px;
              .text {
                margin-top: 30px;
              }
              .number {
                font-size: 65px;
              }
            }
          }
        }
        @media screen and (max-width: 1000px) {
          border-radius: 100px 100px 0 0;
          padding: 80px 60px 90px 80px;
          height: auto;
          width: 100%;
          position: relative;
          left: 0;
          right: 0;
        }
        @media screen and (max-width: 700px) {
          border-radius: 80px 80px 0 0;
          padding: 50px 50px 90px 50px;
          .contents {
            grid-gap: 9px 20px;

            .content {
              font-size: 13px;
              gap: 10px;
              .text {
                margin-top: 25px;
              }
              .number {
                font-size: 50px;
              }
            }
          }
        }
        @media screen and (max-width: 500px) {
          border-radius: 50px 50px 0 0;
          padding: 30px 50px 90px 50px;
          .contents {
            grid-gap: 8px 20px;

            .content {
              font-size: 12px;
              gap: 10px;
              .text {
                margin-top: 20px;
              }
              .number {
                font-size: 35px;
              }
            }
          }
        }
        @media screen and (max-width: 400px) {
          border-radius: 40px 40px 0 0;
          padding: 30px 40px 70px 40px;
          .contents {
            grid-gap: 8px 15px;

            .content {
              font-size: 11px;
              gap: 10px;
              .text {
                margin-top: 15px;
              }
              .number {
                font-size: 30px;
              }
            }
          }
        }
        @media screen and (max-width: 320px) {
          border-radius: 40px 40px 0 0;
          padding: 30px 30px 60px 30px;
          .contents {
            grid-gap: 8px 15px;

            .content {
              font-size: 11px;
              gap: 10px;
              .text {
                margin-top: 15px;
              }
              .number {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}


#join{
    padding: 0 8vw;
  position: relative;
  overflow: scroll;
  @media screen and (max-width: 1650px) {
    padding: 0 10vw;
  }
  @media screen and (max-width: 450px) {
    padding: 0 50px;
  }
  .section_body{
    position: relative;
  z-index: 2;
  display: grid;
  place-items: center;
  height: 100%;

  .form {
    width: 420px;
    padding: 56px 38px 56px 49px;
    background: rgba(29, 27, 27, 0.5);
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;

    .title {
      text-align: center;
      text-transform: uppercase;
      h1 {
        font-size: 22px;
        color: #f2f2f2;
        font-weight: 500;
        b {
          font-weight: 700;
        }
      }
    }

    .input {
      margin: 18px 0;
      border: 1px solid white;
      input {
        all: unset;
        background: transparent;
        color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 10px 12px;
        font-weight: 500;
        font-size: 14px;
        ::placeholder {
          color: #f2f2f2;
        }
      }
    }
    .checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      input {
        appearance: none;
        width: 22px;
        height: 22px;
        border: 1px solid white;
        border-radius: 5px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #f2f2f2;
          width: 13px;
          height: 13px;
          border-radius: 2px;
          opacity: 0;
          transition: 0.5s;
        }
        &:checked::before {
          opacity: 1;
        }
      }
      label {
        font-size: 16px;
        cursor: pointer;
      }
    }

    .btn {
      margin-top: 13px;
      button {
        all: unset;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        padding: 10px 0 9px;
        text-align: center;
        cursor: pointer;
      }
    }
    .policy {
      margin-top: 8px;
      font-size: 11.5px;
      a {
        color: inherit;
      }
    }
    @media screen and (max-width: 1700px) {
      width: 420px;
      padding: 46px 28px 46px 39px;
      .title {
        h1 {
          font-size: 21px;
        }
      }
      .input {
        margin: 17px 0;
        input {
          padding: 10px 12px;
          font-size: 14px;
        }
      }
      .checkbox {
        gap: 8px;
        input {
          width: 22px;
          height: 22px;
          &::before {
            width: 13px;
            height: 13px;
          }
        }
        label {
          font-size: 15px;
        }
      }
      .btn {
        margin-top: 12px;
        button {
          padding: 10px 0 9px;
        }
      }

      .policy {
        margin-top: 8px;
        font-size: 11px;
      }
    }
    @media screen and (max-width: 1440px) {
      width: 410px;
      padding: 36px 28px 36px 39px;
      .title {
        h1 {
          font-size: 20px;
        }
      }
      .input {
        margin: 16px 0;
        input {
          padding: 10px 12px;
          font-size: 13px;
        }
      }
      .checkbox {
        gap: 8px;
        input {
          width: 20px;
          height: 20px;
          &::before {
            width: 10px;
            height: 10px;
          }
        }
        label {
          font-size: 14px;
        }
      }
      .btn {
        margin-top: 12px;
        button {
          padding: 9px 0 8px;
        }
      }

      .policy {
        margin-top: 8px;
        font-size: 10px;
      }
    }
    @media screen and (max-width: 840px) {
      width: 350px;
      padding: 36px 28px 36px 39px;
      .title {
        h1 {
          font-size: 17px;
        }
      }
      .input {
        margin: 16px 0;
        input {
          padding: 10px 12px;
          font-size: 13px;
        }
      }
      .checkbox {
        gap: 8px;
        input {
          width: 20px;
          height: 20px;
          &::before {
            width: 10px;
            height: 10px;
          }
        }
        label {
          font-size: 14px;
        }
      }
      .btn {
        margin-top: 12px;
        button {
          padding: 9px 0 8px;
        }
      }

      .policy {
        margin-top: 8px;
        font-size: 10px;
      }
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      padding: 26px 18px 26px 29px;
      .title {
        h1 {
          font-size: 15px;
        }
      }
      .input {
        margin: 10px 0;
        input {
          padding: 8px 10px;
          font-size: 12px;
        }
      }
      .checkbox {
        gap: 8px;
        input {
          width: 18px;
          height: 18px;
          &::before {
            width: 9px;
            height: 9px;
          }
        }
        label {
          font-size: 12px;
        }
      }
      .btn {
        margin-top: 10px;
        button {
          padding: 9px 0 8px;
        }
      }

      .policy {
        margin-top: 8px;
        font-size: 9px;
      }
    }
  }
  }
}